
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import './tailwind';

@import './assets/css/custom';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.userInexists {
  background-color: #B71C1C;
}

